@charset "UTF-8";
/* main visual
--------------------------------------------------------*/
.l-mainvisual {
  background-color: #cdcdcd;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.l-mainvisual h2 {
  margin-bottom: 0;
}

/* ==================================================
	404
================================================== */
.p-404 {
  background-color: #efefef;
  padding: 100px 0 100px;
  text-align: center;
  font-size: 1.8rem;
}
.p-404__title {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 30px;
}
.p-404__text {
  margin-bottom: 30px;
}
.p-404 a {
  color: #fff;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  z-index: 9;
  text-decoration: none;
}
.p-404 a:hover {
  opacity: 1;
  color: #333;
}
.p-404 a:hover:before {
  animation: hover-in 0.3s forwards alternate;
}
.p-404 a:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  transform: scale(0, 1);
  transition: all 0.3s;
  background: #fff;
  border: 2px solid #333;
}

@keyframes hover-in {
  0% {
    transform-origin: left top;
    transform: scale(0, 1);
  }
  100% {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}
/* ==================================================
	お問い合わせ完了ページ（Thanks）
================================================== */
.p-thank {
  padding: 100px 0 100px;
  text-align: center;
  font-size: 1.8rem;
}
.p-thank figure {
  margin-bottom: 30px;
}

/* ==================================================
	記事詳細ページ（singlepage）
================================================== */
.l-content .single-entry a {
  text-decoration: underline;
  color: #00e;
}
.l-content .single-entry p {
  margin-bottom: 30px;
}
.l-content .single-entry ul, .l-content .single-entry ol {
  background-color: #f9f9f9;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.02);
  margin-bottom: 30px;
}
.l-content .single-entry ul {
  list-style: disc;
}
.l-content .single-entry ol {
  list-style: decimal;
}
.l-content .single-entry h2 {
  background: #333;
  color: #fff;
  font-size: 2.4rem;
  line-height: 1.6;
  padding: 15px;
  font-weight: bold;
  margin-bottom: 30px;
}
.l-content .single-entry h3 {
  background-color: #fff;
  color: #333;
  font-size: 2.2rem;
  line-height: 1.6;
  padding: 15px 0;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  font-weight: bold;
  margin-bottom: 30px;
}
.l-content .single-entry h4 {
  background-color: #fff;
  color: #333;
  border-left: 4px solid #333;
  font-size: 2rem;
  line-height: 1.6;
  padding: 15px;
  font-weight: bold;
  margin-bottom: 30px;
}
.l-content .single-entry h5 {
  background-color: #fff;
  color: #333;
  font-size: 1.8rem;
  line-height: 1.6;
  padding: 15px 0;
  font-weight: bold;
  margin-bottom: 30px;
}
.l-content .single-entry h6 {
  background-color: #fff;
  color: #333;
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 15px 0;
  font-weight: bold;
  margin-bottom: 30px;
}
.l-content .single-entry blockquote {
  padding: 30px;
  border: 1px solid #666;
  position: relative;
  margin-bottom: 30px;
}
.l-content .single-entry blockquote:before, .l-content .single-entry blockquote:after {
  font-family: fontello;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  background: #fff;
  position: absolute;
  color: #666;
}
.l-content .single-entry blockquote:before {
  content: "";
  top: -6px;
  left: -6px;
}
.l-content .single-entry blockquote:after {
  content: "";
  bottom: -6px;
  right: -6px;
}
.l-content .single-entry blockquote p {
  margin-bottom: 0 !important;
}
.l-content .single-entry code {
  background-color: #eee;
  padding: 0px 5px 0px;
  border-radius: 2px;
  margin: 0 5px;
  border: solid 1px #bbb;
  color: #333;
  font-size: 1.6rem;
  line-height: 40px;
  display: inline-block;
  margin-bottom: 30px;
}

.pre-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  list-style: none;
  background: no-repeat;
  box-shadow: none;
  border: none;
  padding: 0;
  border-radius: unset;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .pre-next {
    margin: 20px 0;
  }
}
/* ========== end △ */
.pre-next li {
  position: relative;
  border: 0 solid #ddd;
  border-width: 1px 1px 1px 0;
  font-size: 14px;
  list-style: none;
  -webkit-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pre-next li:first-child {
  border-width: 1px;
}
.pre-next li:before {
  font-size: 1.4rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
}
.pre-next a {
  color: #333;
  width: 100%;
  padding: 15px 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .pre-next a {
    justify-content: center;
    padding: 10px 40px;
  }
}
/* ========== end △ */
.pre-next a .image {
  width: 120px;
  overflow: hidden;
}
.pre-next a .image .thumb {
  width: 100%;
  padding-top: 60%;
  position: relative;
}
.pre-next a .image .thumb img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .pre-next a .image {
    display: none;
  }
}
/* ========== end △ */
.pre-next a span {
  flex: 1;
  margin: 0 10px;
  font-size: 1.4rem;
  max-height: 40px;
  -webkit-line-clamp: 2;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .pre-next a span {
    display: none;
  }
}
/* ========== end △ */
.pre-next .pre-post:before {
  left: 10px;
}
.pre-next .pre-post a {
  padding-right: 20px;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .pre-next .pre-post a:before {
    content: attr(data-prev);
  }
}
/* ========== end △ */
.pre-next .pre-post a span {
  margin-right: 0;
  margin-left: 15px;
}
.pre-next .next-post:before {
  right: 10px;
}
.pre-next .next-post a {
  text-align: right;
  width: 100%;
  padding-left: 20px;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .pre-next .next-post a:before {
    content: attr(data-next);
  }
}
/* ========== end △ */
.pre-next .next-post a span {
  margin-left: 0;
  margin-right: 15px;
}
.pre-next .l-arrow:before {
  content: "";
  font-family: fontello;
}
.pre-next .r-arrow:before {
  content: "";
  font-family: fontello;
}

/* ==================================================
	TinyMCE Advanced用
================================================== */
#wrapper {
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
}

.section {
  position: relative;
}
.section .btn {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  width: 79.73%;
}
.section.section3 .btn {
  top: 68%;
}
.section.section5 .btn {
  top: 42%;
}
.section--qa {
  background: #EFE3D6;
  padding: 50px 0 80px;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .section--qa {
    padding: 25px 0 40px;
  }
}
/* ========== end △ */
.section--qa .ttl {
  text-align: center;
  font-size: 8.6rem;
  line-height: 1;
  color: #3E3E3E;
  margin-bottom: 50px;
  font-family: "Baskerville";
  font-weight: 400;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .section--qa .ttl {
    font-size: 4.3rem;
    margin-bottom: 25px;
  }
}
/* ========== end △ */
.section--guide {
  background: #F8F5F1;
  padding: 70px 0 80px;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .section--guide {
    padding: 35px 0 40px;
  }
}
/* ========== end △ */
.section--guide .ttl {
  text-align: center;
  font-size: 3.8rem;
  font-weight: bold;
  margin-bottom: 50px;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .section--guide .ttl {
    font-size: 1.9rem;
    margin-bottom: 25px;
  }
}
/* ========== end △ */
.section--guide .c-qa .q {
  background: #EFE3D6;
}
.section--guide .c-qa .a {
  background: #F8F5F1;
}

.c-qa .letter {
  font-weight: bold;
  flex-basis: 50px;
  flex-shrink: 0;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .c-qa .letter {
    flex-basis: 25px;
  }
}
/* ========== end △ */
.c-qa .q {
  display: flex;
  padding: 25px 50px 25px 35px;
  position: relative;
  cursor: pointer;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .c-qa .q {
    padding: 12.5px 25px 12.5px 17.5px;
  }
}
/* ========== end △ */
.c-qa .q:after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 38px;
  right: 22px;
  background-image: url("../img/icon/ico-plus.png");
  background-repeat: no-repeat;
  background-size: contain;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .c-qa .q:after {
    width: 12.5px;
    height: 12.5px;
    top: 18px;
    right: 15px;
  }
}
/* ========== end △ */
.c-qa .q.is-active:after {
  background-image: url("../img/icon/ico-minus.png");
  top: 50px;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .c-qa .q.is-active:after {
    top: 24px;
  }
}
/* ========== end △ */
.c-qa .a .inner {
  display: flex;
}
.c-qa__row {
  background: #F8F5F1;
  font-size: 2.8rem;
  line-height: 1.8;
  margin-bottom: 2px;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .c-qa__row {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 1px;
  }
}
/* ========== end △ */
.c-qa__row:last-child {
  margin-bottom: 0;
}
.c-qa__row .a {
  background: #EFE3D6;
  padding: 30px 50px 40px 35px;
  display: none;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .c-qa__row .a {
    padding: 15px 25px 20px 17.5px;
  }
}
/* ========== end △ */

.fixed-footer {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 750px;
  margin: 0 auto;
}
.fixed-footer .close {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 12px;
  cursor: pointer;
}
.fixed-footer a:hover {
  opacity: 1;
}

/* ==================================================
	basic layout
================================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: "Hiragino Mincho ProN", sans-serif;
  font-size: 1.4rem;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease;
}
a:hover {
  opacity: 0.7;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .container {
    padding: 0 15px;
  }
}
/* ========== end △ */

.l-no__padding {
  padding: 0;
}
.l-no__margin {
  margin: 0;
}
.l-flex {
  display: flex;
}
.l-flex__no-wrap {
  flex-wrap: nowrap;
}
.l-flex__wrap {
  flex-wrap: wrap;
}
.l-flex__spb {
  justify-content: space-between;
}
.l-block {
  display: block;
}
.l-none {
  display: none;
}
.l-inline {
  display: inline;
}

/* ==================================================
	until
================================================== */
.mt0 {
  margin-top: 0px;
}

.mb0 {
  margin-top: 0px;
}

.mt1 {
  margin-top: 5px;
}

.mb1 {
  margin-top: 5px;
}

.mt2 {
  margin-top: 10px;
}

.mb2 {
  margin-top: 10px;
}

.mt3 {
  margin-top: 15px;
}

.mb3 {
  margin-top: 15px;
}

.mt4 {
  margin-top: 20px;
}

.mb4 {
  margin-top: 20px;
}

.mt5 {
  margin-top: 25px;
}

.mb5 {
  margin-top: 25px;
}

.mt6 {
  margin-top: 30px;
}

.mb6 {
  margin-top: 30px;
}

.mt7 {
  margin-top: 35px;
}

.mb7 {
  margin-top: 35px;
}

.mt8 {
  margin-top: 40px;
}

.mb8 {
  margin-top: 40px;
}

.mt9 {
  margin-top: 45px;
}

.mb9 {
  margin-top: 45px;
}

.mt10 {
  margin-top: 50px;
}

.mb10 {
  margin-top: 50px;
}

/* ==================================================
	l-pageTitle
================================================== */
.l-pageTitle {
  background-color: #cdcdcd;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.l-pageTitle h1, .l-pageTitle h2 {
  margin-bottom: 0;
}

/* ==================================================
	l-header
================================================== */
.l-header {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 47px;
  text-align: center;
  z-index: 1;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .l-header {
    top: 24px;
  }
}
/* ========== end △ */
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .l-header .logo {
    max-width: 145px;
    margin: 0 auto;
  }
}
/* ========== end △ */

/* ==================================================
	l-footer
================================================== */
.l-footer {
  background: #3E3E3E;
  text-align: center;
  color: #fff;
  padding: 80px 0;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .l-footer {
    padding: 40px 0;
  }
}
/* ========== end △ */
.l-footer .f-logo {
  display: block;
  margin-bottom: 80px;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .l-footer .f-logo {
    margin-bottom: 40px;
    max-width: 166.5px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ========== end △ */
.l-footer .f-sns__text {
  font-size: 3rem;
  margin-bottom: 50px;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .l-footer .f-sns__text {
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
}
/* ========== end △ */
.l-footer .f-sns__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .l-footer .f-sns__icons {
    margin-bottom: 25px;
  }
}
/* ========== end △ */
.l-footer .f-sns__icons .icon {
  margin: 0 40px;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .l-footer .f-sns__icons .icon {
    margin: 0 20px;
  }
}
/* ========== end △ */
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .l-footer .f-sns__icons .icon--youtube {
    max-width: 29.5px;
  }
}
/* ========== end △ */
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .l-footer .f-sns__icons .icon--insta {
    max-width: 26px;
  }
}
/* ========== end △ */
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .l-footer .f-sns__icons .icon--twt {
    max-width: 27.5px;
  }
}
/* ========== end △ */
.l-footer .f-nav {
  margin-bottom: 45px;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .l-footer .f-nav {
    margin-bottom: 22.5px;
  }
}
/* ========== end △ */
.l-footer .f-navLink {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0 30px 30px;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .l-footer .f-navLink {
    font-size: 1.4rem;
    margin: 0 15px 15px;
  }
}
/* ========== end △ */
.l-footer .f-copy {
  color: #C9C5C5;
  font-size: 2rem;
  font-weight: bold;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .l-footer .f-copy {
    font-size: 1rem;
  }
}
/* ========== end △ */

/* ==================================================
	l-layout
================================================== */
.single-2column {
  display: flex;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .single-2column {
    flex-direction: column;
  }
}
/* ========== end △ */
.single-2column .l-layout--content {
  flex: 1 1 auto;
  padding-right: 30px;
}
.single-2column .l-layout--sidebar {
  flex: 0 0 300px;
}

/* ==================================================
	l-sidebar
================================================== */
/* ==================================================
	Breadcrumb
================================================== */
.c-breakcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  margin: 30px 0;
  list-style: none;
}

@media only screen and (max-width: 639px) {
  .c-breakcrumb {
    padding: 15px 0;
    margin: 20px 0;
  }
}
.c-breakcrumb li {
  font-size: 11px;
  position: relative;
  margin: 0 10px;
  padding-right: 25px;
}

.c-breakcrumb li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #112942;
  vertical-align: middle;
}

.c-breakcrumb li:not(:last-child):after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -5px;
  width: 6px;
  height: 10px;
  background: url(../img/arrow-right.svg) center center no-repeat;
  background-size: cover;
}

.c-breakcrumb li span {
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
}

/* Sidebar -Widget
===================================================== */
.sidebar-main {
  margin-bottom: 40px;
}
.sidebar-main:last-child {
  margin-bottom: 0;
}
.sidebar-main .sidebar-title {
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 6px 12px;
  background: #333;
  border: 3px double #fff;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.sidebar-main img {
  width: 100%;
}

.wide-layout ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.wide-layout ul li {
  margin-bottom: 30px;
}
.wide-layout ul li .side-ranking-title {
  font-size: 17px;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
}
.wide-layout ul li .side-ranking-meta {
  margin-top: 15px;
}
.wide-layout ul li .side-ranking-meta .side-ranking-img img {
  display: none;
}
.wide-layout ul li .side-ranking-meta .side-ranking-img a {
  overflow: hidden;
  display: block;
}
.wide-layout ul li .side-ranking-meta .side-ranking-img a img {
  width: 100%;
  height: auto;
  display: block;
  background: #fff;
  -webkit-transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, box-shadow 0.3s ease;
  -webkit-transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  -o-transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, box-shadow 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, box-shadow 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.wide-layout ul li .side-ranking-meta .side-ranking-img a:hover img {
  -webkit-filter: opacity(0.8);
  filter: opacity(0.8);
}
.wide-layout ul li .side-ranking-meta .side-ranking-info {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}
.wide-layout ul li .side-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wide-layout ul li .side-ranking-btn {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.wide-layout ul li .side-ranking-btn a {
  width: 100%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.wide-layout ul li:last-child {
  margin-bottom: 0;
}
.wide-layout ul li:first-child .side-ranking-title {
  border-color: #FFCF24;
}
.wide-layout ul li:nth-child(2) .side-ranking-title {
  border-color: #A0A9B1;
}
.wide-layout .color-button01 a {
  line-height: 40px;
  font-size: 1.4rem;
}
.wide-layout .color-button02 a {
  line-height: 40px;
  font-size: 1.4rem;
}

.simple-style .side-ranking-title {
  border-bottom: 1px solid;
  padding-left: 45px;
  padding-bottom: 3px;
  letter-spacing: 0;
}
.simple-style .side-ranking-title img {
  width: 45px;
  position: absolute;
  left: -2px;
  bottom: 4px;
}

.c-profile {
  text-align: center;
}
.c-profile .img {
  width: 110px;
  height: 110px;
  margin: 0 auto 10px auto;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.c-profile .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.c-profile .name {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 5px;
}
.c-profile .job {
  font-size: 1.4rem;
  color: #999;
  margin-bottom: 3px;
}
.c-profile .profile-sns {
  margin-top: 10px;
}

.link--wrap a {
  display: inline-block;
  vertical-align: top;
  margin: 4px;
  padding: 8px 12px;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 13px;
  color: #fff;
  background: #666;
}

.searchform {
  position: relative;
}
.searchform .screen-reader-text {
  display: none;
}
.searchform .label__submit {
  display: inherit;
  margin-bottom: 10px;
}
.searchform .label__submit:before {
  content: "";
  font-family: fontello;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  height: 45px;
  width: 34px;
  background: none;
  display: inline-block;
  font-size: 2rem;
  color: #aaa !important;
  line-height: 45px;
}
.searchform input[type=text] {
  background-color: #fff;
  border: 1px solid #ddd;
  height: 45px;
  width: 100%;
  margin: 0;
  padding: 0 10px;
  padding-right: 40px;
  font-size: 1.3rem;
  -webkit-transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, box-shadow 0.3s ease;
  -webkit-transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
  -o-transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, box-shadow 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, box-shadow 0.3s ease;
  transition: color 0.3s ease, background 0.3s ease, transform 0.3s ease, opacity 0.3s ease, border 0.3s ease, padding 0.3s ease, left 0.3s ease, bottom 0.3s ease, box-shadow 0.3s ease, -webkit-transform 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.searchform input[type=text]:focus {
  border: 1px solid #0094c8;
}
.searchform input[type=submit] {
  display: none;
}

.tagcloud a {
  display: inline-block;
  vertical-align: top;
  margin: 4px;
  padding: 8px 12px;
  font-size: 1.3rem !important;
  font-weight: 500;
  line-height: 13px;
  color: #fff;
  background: #666666;
}

.recent-post.c-list01 .c-list01_items {
  width: 100%;
  margin-right: 0;
}

.post-sidebar .items {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.post-sidebar .items:last-child {
  margin-bottom: 0;
}
.post-sidebar .items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.post-sidebar .items .img {
  width: 33%;
  margin-right: 2%;
}
.post-sidebar .items .img .thumb {
  padding-top: 60%;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.post-sidebar .items .img .thumb img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.post-sidebar .items .content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
.post-sidebar .items .inner {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: center;
}
.post-sidebar .items .inner .date {
  margin-right: 10px;
}
.post-sidebar .items .tlt p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
  font-weight: bold;
  line-height: 18px;
  max-height: 36px;
  margin-bottom: 3px;
}
.post-sidebar .items .view p {
  font-size: 1.2rem;
  color: #aaa;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.post-sidebar .items .view span {
  position: relative;
}
.post-sidebar .items .view span:before {
  content: "";
  font-family: fontello;
  position: absolute;
  font-size: 1.2rem;
  left: -15px;
  top: 0px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.post-sidebar .items .date p {
  font-size: 1.2rem;
  color: #aaa;
}

.twobutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.color-button01 {
  margin: 0 5px;
}
.color-button01 a {
  border-radius: 6px;
  text-align: center;
  padding: 0px 80px;
  line-height: 60px;
  display: inline-block;
  font-size: 1.6rem;
  color: #fff;
}
.color-button01 a:hover {
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-box-shadow: 0 0 0 #c07800 !important;
  box-shadow: 0 0 0 #c07800 !important;
  -webkit-transition: all 0.01 ease-in-out;
  -o-transition: all 0.01 ease-in-out;
  transition: all 0.01 ease-in-out;
}

.color-button02 {
  margin: 0 5px;
}
.color-button02 a {
  border-radius: 6px;
  text-align: center;
  padding: 0px 80px;
  line-height: 60px;
  display: inline-block;
  font-size: 1.6rem;
  color: #fff;
}
.color-button02 a:hover {
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-box-shadow: 0 0 0 #c07800 !important;
  box-shadow: 0 0 0 #c07800 !important;
  -webkit-transition: all 0.01 ease-in-out;
  -o-transition: all 0.01 ease-in-out;
  transition: all 0.01 ease-in-out;
}

@media (max-width: 767px) {
  .wide-layout ul li .side-ranking-title {
    font-weight: 500;
  }
}
@media (max-width: 768px) {
  .wide-layout ul li .side-btn-box {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .wide-layout ul li .side-ranking-btn {
    -webkit-box-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
    width: 100%;
    margin: 5px auto;
  }
}
@media print {
  .post-sidebar .items .tlt p {
    font-size: 1.6rem;
  }

  .color-button01 {
    display: block;
    width: 100%;
    margin: 5px 0px;
  }
  .color-button01 a {
    width: 100%;
    display: block;
  }

  .color-button02 {
    display: block;
    width: 100%;
    margin: 5px 0px;
  }
  .color-button02 a {
    width: 100%;
    display: block;
  }

  .wide-layout .color-button01 a {
    line-height: 60px;
    font-size: 1.6rem;
  }
  .wide-layout .color-button02 a {
    line-height: 60px;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 768px) {
  .post-sidebar .items .tlt p {
    font-size: 1.6rem;
  }

  .color-button01 {
    display: block;
    width: 100%;
    margin: 5px 0px;
  }
  .color-button01 a {
    width: 100%;
    display: block;
  }

  .color-button02 {
    display: block;
    width: 100%;
    margin: 5px 0px;
  }
  .color-button02 a {
    width: 100%;
    display: block;
  }

  .wide-layout .color-button01 a {
    line-height: 60px;
    font-size: 1.6rem;
  }
  .wide-layout .color-button02 a {
    line-height: 60px;
    font-size: 1.6rem;
  }
}
.widget_pages ul li {
  border-bottom: 1px dotted #ddd;
  margin: 0;
  padding: 0;
  position: relative;
}
.widget_pages ul li:last-child {
  border-bottom: none;
}
.widget_pages ul li a {
  display: block;
  padding: 10px;
  margin: 0;
  position: relative;
  color: #666;
}
.widget_pages ul li a:hover:after {
  right: 5px;
  -webkit-transform: translate(1px, 0);
  -ms-transform: translate(1px, 0);
  transform: translate(1px, 0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.widget_pages ul li a:after {
  content: "";
  font-family: fontello;
  position: absolute;
  font-size: 1.4rem;
  right: 10px;
  color: #666;
}

.widget_popularpost_widget .post-sidebar .img {
  position: relative;
}

.widget_categories ul li {
  border-bottom: 1px dotted #ddd;
  margin: 0;
  padding: 0;
  position: relative;
}
.widget_categories ul li a {
  display: block;
  padding: 10px;
  margin: 0;
  position: relative;
  color: #666;
}
.widget_categories ul li a:hover:after {
  right: 5px;
  -webkit-transform: translate(1px, 0);
  -ms-transform: translate(1px, 0);
  transform: translate(1px, 0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.widget_categories ul li a:after {
  content: "";
  font-family: fontello;
  position: absolute;
  font-size: 1.4rem;
  right: 10px;
  color: #666;
}
.widget_categories label {
  font-size: 0;
  position: relative;
  display: none;
}
.widget_categories select {
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  padding-left: 10px;
  z-index: 1;
  background: transparent;
  position: relative;
  font-size: 1.6rem;
  -webkit-appearance: none;
  background: url("../img/60781.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

.widget_categoryC select {
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding-left: 10px;
  z-index: 1;
  background: transparent;
  position: relative;
  font-size: 1.6rem;
  -webkit-appearance: none;
  background: url("../img/60781.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

.widget_meta ul li {
  border-bottom: 1px dotted #ddd;
  margin: 0;
  padding: 0;
  position: relative;
}
.widget_meta ul li a {
  display: block;
  padding: 10px;
  margin: 0;
  position: relative;
  color: #666;
}
.widget_meta ul li a:hover:after {
  right: 5px;
  -webkit-transform: translate(1px, 0);
  -ms-transform: translate(1px, 0);
  transform: translate(1px, 0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.widget_meta ul li a:after {
  content: "";
  font-family: fontello;
  position: absolute;
  font-size: 1.4rem;
  right: 10px;
  color: #666;
}

.widget_archive ul li {
  border-bottom: 1px dotted #ddd;
  margin: 0;
  padding: 0;
  position: relative;
}
.widget_archive ul li:last-child {
  border-bottom: none;
}
.widget_archive ul li a {
  display: block;
  padding: 10px 20px;
  margin: 0;
  position: relative;
  color: #666;
}
.widget_archive ul li a:hover {
  -webkit-transform: translate(5px, 0);
  -ms-transform: translate(5px, 0);
  transform: translate(5px, 0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.widget_archive ul li a:before {
  content: "";
  font-family: fontello;
  position: absolute;
  font-size: 0.9rem;
  line-height: 14px;
  top: 50%;
  left: 0;
  color: #fff;
  background: #333;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-indent: 2px;
}
.widget_archive label {
  font-size: 0;
  position: relative;
  display: none;
}
.widget_archive select {
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  padding-left: 10px;
  z-index: 1;
  background: transparent;
  position: relative;
  font-size: 1.6rem;
  -webkit-appearance: none;
  background: url("../img/60781.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

.widget_calendar table caption {
  padding: 8px 0;
  margin-bottom: 8px;
  background: #ececec;
}
.widget_calendar table tr th {
  text-align: center;
  padding: 3px 0;
}
.widget_calendar table tr td {
  text-align: center;
  font-size: 1.4rem;
  padding: 3px 0;
}
.widget_calendar #calendar_wrap {
  background: #fff;
  padding-bottom: 8px;
}
.widget_calendar #prev a {
  color: #333 !important;
  font-size: 1.4rem;
}
.widget_calendar #next a {
  color: #333 !important;
}

.widget_pages ul li {
  border-bottom: 1px dotted #ddd;
  margin: 0;
  padding: 0;
  position: relative;
}
.widget_pages ul li:last-child {
  border-bottom: none;
}
.widget_pages ul li a {
  display: block;
  padding: 10px;
  margin: 0;
  position: relative;
  color: #666;
}
.widget_pages ul li a:hover:after {
  right: 5px;
  -webkit-transform: translate(1px, 0);
  -ms-transform: translate(1px, 0);
  transform: translate(1px, 0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.widget_pages ul li a:after {
  content: "";
  font-family: fontello;
  position: absolute;
  font-size: 1.4rem;
  right: 10px;
  color: #666;
}

.intro-site .intro-text {
  margin-top: 5px;
  text-align: center;
  color: #333;
}

.widget_rss h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.widget_rss h4 .rsswidget {
  font-size: 1.6rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5px;
}
.widget_rss ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.widget_rss ul li a {
  font-size: 1.6rem;
  color: #333;
  font-weight: bold;
  display: block;
}
.widget_rss ul li .rss-date {
  font-size: 1.4rem;
  padding: 5px 0;
  display: block;
}
.widget_rss ul li .rssSummary {
  font-size: 1.4rem;
  display: block;
}
.widget_rss ul li cite {
  display: none;
}

.widget_nav_menu ul li {
  border-bottom: 1px dotted #ddd;
  margin: 0;
  padding: 0;
  position: relative;
}
.widget_nav_menu ul li:last-child {
  border-bottom: none;
}
.widget_nav_menu ul li .sub-menu {
  padding-left: 15px;
}
.widget_nav_menu ul li .sub-menu a {
  border-bottom: none;
}
.widget_nav_menu ul li a {
  display: block;
  padding: 10px 20px;
  margin: 0;
  position: relative;
  color: #666;
}
.widget_nav_menu ul li a:hover {
  -webkit-transform: translate(5px, 0);
  -ms-transform: translate(5px, 0);
  transform: translate(5px, 0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.widget_nav_menu ul li a:before {
  content: "";
  font-family: fontello;
  position: absolute;
  font-size: 0.9rem;
  line-height: 14px;
  top: 50%;
  left: 0;
  color: #fff;
  background: #333;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateY(-50%);
  text-indent: 2px;
}
.widget_nav_menu ul .menu-item-has-children {
  border-bottom: none;
}
.widget_nav_menu ul .menu-item-has-children a {
  border-bottom: 1px dotted #ddd;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.gallery dt a {
  width: 100%;
  display: block;
  position: relative;
  padding-top: 100%;
}
.gallery dt a img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.pagination {
  margin-top: 50px;
}
/* ▽ SP layout ========== */
@media only screen and (max-width: 750px) {
  .pagination {
    margin-bottom: 40px;
  }
}
/* ========== end △ */
.pagination .page-of {
  display: none;
}
.pagination .inner {
  display: flex;
  justify-content: center;
}
.pagination .pn-numbers,
.pagination .current,
.pagination .pn-next,
.pagination .pn-prev,
.pagination .m-next,
.pagination .m-prev {
  height: 40px;
  width: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  margin: 0 5px;
  border: 1px solid #D45889;
  font-weight: bold;
  border-radius: 2px;
  transition: 0.3s ease;
}
.pagination .pn-numbers:hover,
.pagination .current:hover,
.pagination .pn-next:hover,
.pagination .pn-prev:hover,
.pagination .m-next:hover,
.pagination .m-prev:hover {
  background: #D45889;
  color: #fff;
  border-color: #D45889;
  opacity: 1;
}
.pagination .pn-next,
.pagination .pn-prev,
.pagination .m-next,
.pagination .m-prev {
  color: #D45889;
}
.pagination .current {
  background: #D45889;
  color: #fff;
  border-color: #D45889;
}

/*# sourceMappingURL=style.css.map */
/* 06-03-2022 */
.section.section2 .c-ctaBtn {
  position: absolute;
  left: 0;
  right: 0;
  top: 3.5%;
}

.c-ctaBtn {
  width: 88.13%;
  margin: 0 auto;
  display: block;
  animation: pulse 1s ease-in-out infinite both;
}

.section.section-cta {
  padding: 10% 0;
}

@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}